%h1
  Editing site_factoid
- form_for(@site_factoid) do |f|
= f.error_messages
%p
  = f.label :organization_id
  %br/
  = f.text_field :organization_id
%p
  = f.label :kind
  %br/
  = f.text_field :kind
%p
  = f.label :content
  %br/
  = f.text_field :content
%p
  = f.label :source_url
  %br/
  = f.text_field :source_url
%p
  = f.label :fruitful
  %br/
  = f.check_box :fruitful
%p
  = f.submit "Update"
- end
= link_to 'Show', @site_factoid
|
= link_to 'Back', site_factoids_path
