<p>
  <b>Organization:</b>
  <%=h @site_factoid.organization_id %>
</p>

<p>
  <b>Kind:</b>
  <%=h @site_factoid.kind %>
</p>

<p>
  <b>Content:</b>
  <%=h @site_factoid.content %>
</p>

<p>
  <b>Source url:</b>
  <%=h @site_factoid.source_url %>
</p>

<p>
  <b>Fruitful:</b>
  <%=h @site_factoid.fruitful %>
</p>


<%= link_to 'Edit', edit_site_factoid_path(@site_factoid) %> |
<%= link_to 'Back', site_factoids_path %>
